<p>{{ name }}</p>
<p [innerHtml]="name"></p>
<p [title]="user.name">{{user.email}}</p>
<p [attr.aria-label]="user.name">{{user.email}}</p>

<!-- povezivanje svojstva sa klasom deleted -->
<p [class.deleted]="user.isDeleted">{{user.name}}</p>

<!-- dodavanje klasa -->
<p [class]="userClasses">{{user.name}}</p>

<!-- stilizacija -->
<p [style.width]="width">300px</p>

<!-- Pretplata dogadjaja -->
<button (click)="sayHello()">Click me</button>



<!-- Direktiva ng class, dodavanje i uklanjanje klasa -->
<div [ngClass]="myClasses">This is my div</div>

<!--Linijska stilizacija  -->
<div [style]="myStyles">Linijska stilizacija</div>

<!-- ng Model => dvosmerno povezivanje -->
<input type="text" [(ngModel)]="message">
<div>{{message}}</div>

<!-- Lista -->
<ul>
    <li *ngFor="let item of items">{{item}}</li>
</ul>

<!-- Switch -->
<select name="colors" [(ngModel)]="selectedIndex">
    <option value="-1">Nothing selected</option>
    <option *ngFor="let item of items; ; let i = index" value="{{i}}">{{item}}</option>
</select>
<div [ngSwitch]="selectedIndex">
    <div *ngSwitchDefault>nothing selected</div>
    <div *ngSwitchCase='0'>{{items[selectedIndex]}}</div>
    <div *ngSwitchCase='1'>{{items[selectedIndex]}}</div>
    <div *ngSwitchCase='2'>{{items[selectedIndex]}}</div>
    <div *ngSwitchCase='3'>{{items[selectedIndex]}}</div>
</div>